<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="cybersource_recaptcha" xsi:type="object">CyberSource\Recaptcha\Block\LayoutProcessor\Checkout\Recaptcha</item>
            </argument>
        </arguments>
    </type>

    <!-- Default HTTP response provider -->
    <preference for="CyberSource\Recaptcha\Model\Provider\ResponseProviderInterface"
                type="CyberSource\Recaptcha\Model\Provider\Response\DefaultResponseProvider"/>

    <preference for="CyberSource\Recaptcha\Model\IsCheckRequiredInterface"
                type="CyberSource\Recaptcha\Model\IsCheckRequired"/>
        
    <preference for="CyberSource\Recaptcha\Api\ValidateInterface" 
                type="CyberSource\Recaptcha\Model\Validate"/>

    <virtualType name="CyberSourceRecaptchaObserverRecaptcha" type="CyberSource\Recaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired" xsi:type="object">CyberSource\Recaptcha\Observer\IsCheckRequired</argument>
            <argument name="failureProvider" xsi:type="object">CyberSource\Recaptcha\Model\FailureResponseProvider</argument>
            <argument name="validate" xsi:type="object">CyberSource\Recaptcha\Model\Validate</argument>
        </arguments>
    </virtualType>

    <virtualType name="CyberSourceSaRecaptchaObserverRecaptcha" type="CyberSource\Recaptcha\Observer\ReCaptchaSaObserver">
        <arguments>
            <argument name="isCheckRequired" xsi:type="object">CyberSource\Recaptcha\Observer\IsCheckRequired</argument>
            <argument name="validate" xsi:type="object">CyberSource\Recaptcha\Model\Validate</argument>
        </arguments>
    </virtualType>

    <type name="CyberSource\Recaptcha\Model\LayoutSettings">
        <plugin name="cybersource-recaptcha-layout-processor-plugin" type="CyberSource\Recaptcha\Plugin\Model\LayoutSettingsPlugin"/>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cybersource_recaptcha_config_provider" xsi:type="object">CyberSource\Recaptcha\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
